<a href="https://colab.research.google.com/github/V-Nayak/python-basics/blob/main/05_string.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# String

Any sequence of characters within either single quotes or double quotes is considered as a String.

We can define multi-line String literals by using triple single or double quotes.

We can also use triple quotes to use single quotes or double quotes as symbol inside String literal

In [ ]:
s = 'data science and AIML'
b = "data"
a = ''' This is a "data science" course'''

# How to access characters of a string?
We can access characters of a string by using the following ways.

1.By using index

2.By using slice operator

In [ ]:
# 1. accessing characters by using index
s[0]

'd'

In [ ]:
b[-1]

'a'

In [ ]:
# 2. Accessing characters by using slice operator
#  Syntax: s[begin index : end index : step]
s="Learning Python is very very easy!!!"
s[1:7:2]

'eri'

In [ ]:
# 2. Accessing characters by using slice operator
#  Syntax: s[begin index : end index : step]
s="Learning Python is very very easy!!!"
s[1:10:3]         #if we give begin 1 and end index 2 and step morethan it..then it will give void.

'eng'

In [4]:
# 3. Accessing characters by using slice operator
#  Syntax: s[begin index : end index : step]
s="          Learning DD  "
s=s.strip()
s[0:15:2]    #here in this output it removed front and back end sapce but not middle one.

'Lann D'

In [3]:
s[::]     # accessing whole with only colons

'Learning DD'

In [6]:
s[::-2]   #accessing in reverse manner

'D nnaL'

In [7]:
# Note: Slice operator never raises IndexError
s[1000:2:-1]

'DD gninr'

# len() in-built function

In [8]:
len(s)

11

## Program to access each Character of String in Forward and Backward Direction by using while Loop?

In [25]:
s="we have successfully landed in to programming arena"
n=len(s)
i=0
print("forward Mode")
while i<n:
   print(s[i],end='')
   i+=1

print(" \n\nBackward Mode") 
i=-1
while i>=-n:
   print(s[i],end='')
   i=i-1

forward Mode
we have successfully landed in to programming arena

Backward Mode
anera gnimmargorp ot ni dednal yllufsseccus evah ew

# Checking Membership:

In [26]:
s = "Vinayak"
'd' in s

False

In [28]:
s = "Vinayak"
'I' in s

False

In [29]:
s = "Vinayak"
'i' in s

True

# Comparison of Strings
We can use comparison operators (<, <=, >, >=) and equality operators (==, !=) for strings

In [36]:
s1=input("Enter first string:")
s2=input("Enter Second string:")
if s1==s2:
  print("Both strings are equal")
elif s1<s2:
  print("First String is less than Second String")
else:
  print("First String is greater than Second String")    #problem arises when letters are case sensitive

Enter first string:Hello
Enter Second string:Hello
Both strings are equal

# Removing Spaces from the String:
1)rstrip()-->To remove spaces at right hand side.

2) lstrip()--> To remove spaces at left hand side.

3) strip()-->To remove spaces both sides.

In [42]:
city=input("Enter your capital:")
scity=city.strip()
if scity=='Hyderabad':
    print("Your state is either Telangana Or Andhrapradesh")
elif scity=='Chennai':
    print("Your state is Tamilnadu")
elif scity=="Bengalaru":
    print("Your state is Karnataka")
else:
    print("your entered city is invalid")      #this is also case sensitive

Enter your capital:bengalaru
your entered city is invalid

In [43]:
s = " Da ta  "
s.strip()      #side spaces removed not midddle one..!!

'Da ta'

In [44]:
s.rstrip()     #right side space reomoved

' Da ta'

In [46]:
s.lstrip()      #left side space reomoved

'Da ta  '

# Finding Substrings:
We can use the following 4 methods


For forward direction:

1) find()

2) index()


For backward direction:

1) rfind()

2) rindex()

1) find()

In [47]:
# find(): Returns index of first occurrence of the given substring. If it is not available then we will
# get -1.
s="data science is Not fun"
s.find("data") #0th index

0

In [48]:
s="data science is Not fun"
s.find("fun")

20

In [49]:
# syntax: s.find(substring,bEgin,end)
s.find("a",0,22)

1

In [50]:
# syntax: s.find(substring,bEgin,end)
s.find("Z",0,22)

-1

## 2)index()

index() method is exactly same as find() method except that if the specified substring is not available then we will get ValueError

In [51]:
# we will get a error if the substring is not available
s.index('m')

ValueError: ignored

In [52]:
s.index('a')

1

## Program to display all Positions of Substring in a given Main String

In [57]:
s=input("Entermainstring:")
subs=input("Entersubstring:")
flag=False
pos=-1
n=len(s)
while True:
  pos=s.find(subs,pos+1,n)
  if pos==-1:
    break
  print("Found at position",pos)
  flag=True
if flag==False:
  print("Not Found")          #it gives index position..so its better to find ind characters.. #Also case sensitive... if wrong case then ans will not found

Entermainstring:Data Science
Entersubstring:Science
Found at position 5

In [58]:
s=input("Entermainstring:")
subs=input("Entersubstring:")
flag=False
pos=-1
n=len(s)
while True:
  pos=s.find(subs,pos+1,n)
  if pos==-1:
    break
  print("Found at position",pos)
  flag=True
if flag==False:
  print("Not Found")

Entermainstring:1233245234564746
Entersubstring:2
Found at position 1
Found at position 4
Found at position 7

# Count substring in the given String:
We can find the number of occurrences of substring present in the given string by using count() method.

s.count(substring)-->It will search through out the string.

s.count(substring, bEgin, end)-->It will search from bEgin index to end-1 index

In [59]:
s="abcabcabcabcadda"
print(s.count('a'))

6

# Replacing a String with another String:
s.replace(oldstring, newstring)

Inside s, every occurrence of old String will be replaced with new String

In [62]:
s = "Learning Python is very difficult"
s1 = s.replace("difficult","easy")
print(s1)

Learning Python is very easy

In [66]:
s = "Learning Python is very difficult"
s1 = s.replace("difficult","easy")
print(s1)
s2 = s1.replace("is","will be")
print(s2)
print(s)        ## here we havnt made changes to original s..we can find out that from their respective ids

Learning Python is very easy
Learning Python will be very easy
Learning Python is very difficult

In [67]:
s = "Learning Python is very difficult"
print(s)
s = s.replace("difficult","easy")
print(s)              ## here we made changes at same location

Learning Python is very difficult
Learning Python is very easy

# Splitting of Strings:
We can split the given string according to specified seperator by using split() method.

Syntax: l = s.split(seperator)

In [72]:
s="19-04-2022"
l=s.split('-')
for x in l:
  print(x,end=' ')

19 04 2022

In [73]:
s="19-04-2022"
l=s.split('-')
for x in l:
  print(x)

19
04
2022

In [75]:
l

['19', '04', '2022']

# Joining Of Strings:
s = seperator.join(group of strings)

In [76]:
list1= ["data","science","ai"]
"-".join(list1)         ##how to join them at sepcific locations.

'data-science-ai'

# Changing the case of a string:
upper()-->To convert all characters to upper case.

lower()-->To convert all characters to lower case.

swapcase() --> Converts all lower case characters to upper case and all upper case characters to lower case

title() --> To convert all character to title case. i.e first character in every word should be upper case and all remaining characters should be in lower case.

capitalize() --> Only first character will be converted to upper case and all remaining characters can be converted to lower case.

In [77]:
s='learning Python is very Easy'
print(s.upper())
print(s.lower())
print(s.swapcase())
print(s.title())
print(s.capitalize())

LEARNING PYTHON IS VERY EASY
learning python is very easy
LEARNING pYTHON IS VERY eASY
Learning Python Is Very Easy
Learning python is very easy

In [ ]:
s='learning Python is very Easy'    ## Prgram to make alternate letters Upper case and lower case.
n=len(s)
i=0
while 
print(s.upper())

# Checking Starting and Ending Part of the String:
Python contains the following methods for this purpose.

s.startswith(substring)

s.endswith(substring)

In [79]:
s='learning Python is very easy'
print(s.startswith('learning'))
print(s.endswith('learning'))
print(s.endswith('easy'))

True
False
True

# To Check Type of Characters Present in a String:

Python contains the following methods for this purpose.

isalnum(): Returns True if all characters are alphanumeric( a to z , A to Z ,0 to9 ).

isalpha(): Returns True if all characters are only alphabet symbols(a to z,A to Z)

isdigit(): Returns True if all characters are digits only( 0 to 9)

islower(): Returns True if all characters are lower case alphabet symbols

isupper(): Returns True if all characters are upper case aplhabet symbols

istitle(): Returns True if string is in title case

isspace(): Returns True if string contains only spaces

In [80]:
print('Datascience786'.isalnum()) # True

True

In [81]:
print('Datascience786'.isalpha())   istitle()

False

In [82]:
print('Datascience786'.istitle())

True

# Formatting the Strings:
We can format the strings with variable values by using replacement operator {} and format() method.

In [85]:
name='Mr VP'
salary=100000
age=32 
print("{}'s salary is {} and his age is {}".format(name,salary,age))
print("{0}'s salary is {1} and his age is {2}".format(name,salary,age))
print("{x}'s salary is {y} and his age is {z}".format(z=age,y=salary,x=name))

Mr VP's salary is 100000 and his age is 32
Mr VP's salary is 100000 and his age is 32
Mr VP's salary is 100000 and his age is 32

# a Program to Reverse the given String

In [86]:
s=input("EnterSomeString:")
print(s[::-1])

EnterSomeString:Nayak
kayaN

In [87]:
s= 'kayaN'
''.join(reversed(s))

'Nayak'

## Q2) Program to Reverse Order of Words

Input: Learning Python is very Easy

Output: Easy Very is Python Learning

In [89]:
s='Easy very is Python Learning'
l=s.split()
l1=[]
i=len(l)-1
while i>=0:
  l1.append(l[i])
  i=i-1
output=' '.join(l1)
print(output)

Learning Python is very Easy

# Q3) Write a Program to Remove Duplicate Characters from the given Input String?

Input: 12313134412431234dfdADSadsadDAD

Output: 1234dfADSas

In [90]:
s=input("EnterSomeString:")
l=[]
for x in s:
  if x not in l:
     l.append(x)
output=''.join(l)
print(output)

EnterSomeString:12313134412431234dfdADSadsadDAD
1234dfADSas

##Program to find the Number of Occurrences of each Character present in the given String?

Input:KMLKKKKMLKMLK

OUTPUT
K = 7 Times
M = 3 Times
L = 3 Times

In [91]:
s=input("Enter Some String:")
d={}
for x in s:
  if x in d.keys():
     d[x]=d[x]+1
  else:
     d[x]=1
for k,v in d.items():
   print("{} = {} Times".format(k,v))

Enter Some String:KMLKKKKMLKMLK
K = 7 Times
M = 3 Times
L = 3 Times

In [96]:
s="aaasssddd"      ## ALTERNATIVE TO ABOVE METHOD....need to serch more about this.

d={}
for x in s:
  if x in d.keys():
     d[x]=d[x]+1
  else:
     d[x]=1

In [97]:
d

{'a': 3, 'd': 3, 's': 3}

In [98]:
s="19-04-2022"
l=s.split('-')
for x in l:  
  print('\nx')     ## how to take to new line with extra sapce coamparig to erlier line ...need to know more about spacing that to new line

x

x

x