<a href="https://colab.research.google.com/github/V-Nayak/python-basics/blob/main/06_list_Data_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List
֍ If we want to represent a group of individual(heterogeneous) objects as a single entity where insertion order needs to be preserved and duplicates are allowed, then we should go for List.

֍  [List is dynamic ,mutable]

֍ We can differentiate duplicate elements by using index and we can preserve insertion order by using index. Hence index will play very important role.

֍ Python supports both positive and negative indexes. +ve index means from left to right where as negative index means right to left.

In [6]:
list=[]    #defining empty list 
print(list)
print(type(list))

[]
<class 'list'>

In [28]:
list=eval(input("EnterList:"))
print(list)
print(type(list))

EnterList:[123456666]
[123456666]
<class 'list'>

In [29]:
del list  # to delete 'list' variable defined earlier
l = list(range(1,10))
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
del list           #to bring letters to list  ..issue
import string
l = list('string.ascii_lowercase')
print(l)

In [30]:
s="Welcome to todays session of tuple!!!"   #splitting the string
l=s.split()
print(l)
type(l)

['Welcome', 'to', 'todays', 'session', 'of', 'tuple!!!']

list

# Accessing Elements of List:
We can access elements of the list either by using index or by using slice operator(:)

By using Index:
List follows zero based index. ie index of first element is zero

In [6]:
l = ['A','B','C','D','E']
l[4] #providing index

'E'

In [2]:
l= [10,20,20,30,30,40]
l[4]

30

In [7]:
l[3]

'D'

### By using Slice Operator

In [10]:
n=[1,2,3,4,5,'a','b','c','d','e']     ## we can combinelly put alphanumeric
print(n[:])
print(n[2:8])

[1, 2, 3, 4, 5, 'a', 'b', 'c', 'd', 'e']
[3, 4, 5, 'a', 'b', 'c']

# List vs Mutability:
Once we creates a List object, we can modify its content. Hence List objects are mutable.

In [11]:
n=[111,222,333,444]
print(n)
n[1]='vinayak'
print(n)

[111, 222, 333, 444]
[111, 'vinayak', 333, 444]

# Traversing the Elements of List:
The sequential access of each element in the list is called traversal.

In [13]:
n=[0,1,2,3,4,5,'a','b','c']     # 1)By using while Loop:..here we hv to increase the count
i=0
while i < len(n):
  print(n[i])
  i=i+1

0
1
2
3
4
5
a
b
c

In [23]:
n=[0,1,2,3,4,5,'a','b','c']      
i=-1
 while i >= len(n) :
  print(n[i])
 i=i-1

IndentationError: ignored

In [24]:
n=[0,1,2,3,4,5,'a','b','c']    # 2)By using for Loop:
for n1 in n:
 print(n1)

0
1
2
3
4
5
a
b
c

In [25]:
l=["A","B","C"]   ##index wise display
x=len(l)
for i in range(x):
  print(l[i],"is available at positive index: ",i,"and at negative index: ",i-x)

A is available at positive index:  0 and at negative index:  -3
B is available at positive index:  1 and at negative index:  -2
C is available at positive index:  2 and at negative index:  -1

# Important Functions of List:

In [26]:
n=[10,20,30,40]  ## To get info about.. len()
print(len(n))

4

In [28]:
n=[0,0,0,0,0,1,2,2,2,2,3,3,3,3,3,]   ## n.count()  occurance time of perticuler no.
print(n.count(1))
print(n.count(2))
print(n.count(3))

1
4
5

In [29]:
n=[0,0,0,0,0,1,2,2,2,2,3,3]        ## n.index() presenting index of perticuler no
print(n.index(1))

5

In [33]:
list=[]                      ## manipulations  #1) append() Function: add item at the end of the list  
list.append("V")
list.append("007")
list.append("Die hard")
print(list)

['V', '007', 'Die hard']

In [42]:

list1=[] 
list2=[]                    # add all the elements to list upto 50 which are divisible...
for i in range(51):          ##  ....by 7 but greater than 20 and even no--> simple --> complex-->more complex
  if i%7==0:
    if i > 20:
      if i%2==0 :
       list1.append(i)
     
print(list1)

[28, 42]

In [44]:
n=[1,2,3,4,5]       ## insert the element at specified index of list
n.insert(1,"DS")
n.insert(2,"Macarthy")
n.insert(3,"Squadron")
print(n)

[1, 'DS', 'Macarthy', 'Squadron', 2, 3, 4, 5]

In [ ]:
order1=["Apache","Pulsor","Ninja"]  ## extend the list
order2=["500CC"]
order3=["Turbo","Nitrous"]
order1.extend(order2)
print(order1)
order1.extend(order3)
pritn(order1)

In [ ]:
n=[10,20,10,30]    ### removing peticuler element
n.remove(10)
print(n)