<a href="https://colab.research.google.com/github/V-Nayak/python-basics/blob/main/07_Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tuple 

is same as list but immutable considers heterogenious, duplicate elements, +ve as well  as -ve indexes,seperated by comma, enclosed parenthesis.

In [2]:
t=10,'vinayak',30,'patil','$$'   #parenthesis are optional
print(t)
print(type(t))

(10, 'vinayak', 30, 'patil', '$$')
<class 'tuple'>

# Accessing Elements of Tuple:
We can access either by index or by slice operator

In [5]:
t=('Manoj','Sushil','Sandeep','shri','Akash','satish','Yogesh','Vinayak')
print(t[0])
print(t[2])
print(t[3])

Manoj
Sandeep
shri

In [6]:
print(t[:])

('Manoj', 'Sushil', 'Sandeep', 'shri', 'Akash', 'satish', 'Yogesh', 'Vinayak')

In [7]:
print(t[::-2])

('Vinayak', 'satish', 'shri', 'Sushil')

tuple objects are immutable

In [8]:
t = (1,2,3)
t[1]=0

TypeError: ignored

# Mathematical Operators for Tuple:

In [10]:
t1=('a','b','c')
t2=(40,50,60)
t3=t1+t2
print(t3)

('a', 'b', 'c', 40, 50, 60)

In [11]:
t1=(1,2,3)
t2=t1*3
print(t2)#(10,20,30,10,20,30,10,20,30)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

## Important Functions of Tuple:

In [ ]:
t= (1,2,3,4)  #measures lenght
len(t)

In [13]:
t= (1,2,2,2,3,3,3,3,4,4)
t.count(3)

4

In [15]:
# index(): Returns index of first occurrence of the given element.
t=(10,20,10)
t.index(20)

1

In [16]:
t=(1,3,3,2,4,5,6)
t1 = sorted(t)
print(t1)

[1, 2, 3, 3, 4, 5, 6]

In [17]:
t2 = sorted(t, reverse = True)
print(t2)

[6, 5, 4, 3, 3, 2, 1]

In [18]:
t=(11,22,33,44,55,66,77)
print(min(t))
print(max(t))

11
77