<a href="https://colab.research.google.com/github/V-Nayak/python-basics/blob/main/08_Set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# SET - Data Structure

1.If we want to represent a group of unique values(Heterogeneous) as a single entity then we should go for set.

2.Duplicates Indexing and slicing are not allowed.

Insertion order is not preserved.But we can sort the elements.
not allowed for the set.

Set objects are mutable i.e once we creates set object we can perform any changes in that object based on our requirement.

We can represent set elements within curly braces and with comma seperation
We can apply mathematical operations like union, intersection, difference etc on set objects

In [1]:
s={10,20,30,40,'Oxygen',"Nitrous",'''Turbo'''}
print(s)
print(type(s))

{'Turbo', 'Nitrous', 40, 10, 20, 'Oxygen', 30}
<class 'set'>

In [2]:
#We can create set objects by using set() Function s = set(any sequence)
l=[10,20,30,40,10,20,10]
s=set(l)
print(s)    # duplicates are not allowed

{40, 10, 20, 30}

In [3]:
s=set(range(5))
print(s)#{0,1,2,3,4}

{0, 1, 2, 3, 4}

# Important Functions of Set:

In [8]:
s={10,20,30}             # add 
s.add("Intervention");   #only single element at a time.
s.add("Turbo");          # Multiple times
print(s)

{'Intervention', 'Turbo', 10, 20, 30}

In [11]:
s={10,20,30}            #update(x,y,z): add multiple items to the set
l=[40,"RRR",60,10]
s.update(l,range(5))
print(s)

{0, 1, 2, 3, 4, 40, 10, 'RRR', 20, 60, 30}

In [12]:
s={10,20,30}    # copy(): returns copy of the set(cloning)
s1=s.copy()
print(s1)

{10, 20, 30}

In [15]:
s={'Excise',10,30,20}
print(s)
print(s.pop())
print(s)

{'Excise', 10, 20, 30}
Excise
{10, 20, 30}

# Mathematical Operations on the Set

In [18]:
x={10,20,30,40}       ## Union -all the elements in both sets
y={30,40,50,60}
print(x.union(y))
print (x|y)

{40, 10, 50, 20, 60, 30}
{40, 10, 50, 20, 60, 30}

In [20]:
x={10,20,30,40,"Rise"}        ## inter section -common elements from both sets
y={30,40,50,60,"Rise"}
print(x.intersection(y))
print(x&y)

{40, 'Rise', 30}
{40, 'Rise', 30}

In [19]:
x={10,20,"Value",40}         ## Returns the elements present in x but not in y.
y={30,40,50,60}
print(x.difference(y))#10, 20
print(x-y)#{10, 20}
print(y-x)#{50, 60}

{10, 20, 'Value'}
{10, 20, 'Value'}
{50, 60, 30}

In [21]:
x={10,'Deadly',20,30,40}               ##  #Returns elements present in either x OR y but not in both.
y={30,40,50,60,'Weapon'}
print(x.symmetric_difference(y))#{10,50,20,60}
print(x^y)#{10, 50, 20, 60}

{'Weapon', 50, 20, 'Deadly', 10, 60}
{'Weapon', 50, 20, 'Deadly', 10, 60}

# Membership test

In [26]:
s=set("DS_MacCarthy_Squdron_Italian_Family_Clan" )
print(s)
print('d'in s)
print('p'in s)

{'I', 'l', 'c', 'u', 'n', 'd', 'i', 'M', 'o', 'q', 'F', 'h', 'a', 'C', '_', 't', 'y', 'm', 'S', 'D', 'r'}
True
False

# Homework
Q) Program to eliminate Duplicates Present in the List?

Q) Write a Program to Print different Vowels Present in the given Word?(Using intersection method