<a href="https://colab.research.google.com/github/V-Nayak/python-basics/blob/main/12_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Pandas**

Pandas is an open-source library that is made mainly for working with relational or labeled data both easily and intuitively.

It provides various data structures and operations for manipulating numerical data and time series. This library is built on top of the NumPy library.(
Pandas is one of the powerful open source libraries in the Python programming language used for data analysis and data manipulation. If you want to work with any tabular data, such as data from a database or any other forms (Like CSV, JSON, Excel, etc.,) then pandas is the best tool.

History
In 2008, developer Wes McKinney started developing pandas for high-performance, flexible data analysis.)

Pandas is fast and it has high performance & productivity for users.(Highlight features
Pandas will reduce the complexity and make our work easy, and it can be applicable to any type of data that is ordered and unordered. The output of the pandas is also a tabular form named DataFrame.

We can plot some Visualization graphs by using Matplotlib which is also a python library, it provides different plotting types such as scatter, bar, boxplot,. .)

Pandas generally provide two data structures for manipulating data, 

They are:

Series

DataFrame


Series:
Pandas Series is a one-dimensional labelled array capable of holding data of any type (integer, string, float, python objects, etc.). The axis labels are collectively called indexes. Pandas Series is nothing but a column in an excel sheet

In [ ]:
import pandas as pd
import numpy as np

# Creating empty series
ser = pd.Series()

print(ser)

# simple array
data = np.array(['g', 'e', 'e', 'k', 's'])

ser = pd.Series(data)
print(ser)

Series([], dtype: float64)
0    g
1    e
2    e
3    k
4    s
dtype: object

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """

### 1.DataFrame

Pandas DataFrame is a two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. Pandas DataFrame consists of three principal components, **the data, rows, and columns**.

In [ ]:
import pandas as pd

# Calling DataFrame constructor
df = pd.DataFrame()
print(df)

# list of strings
lst = ['learning', 'data', 'science', 'is',
			'easy']

# Calling DataFrame constructor on list
df = pd.DataFrame(lst)
print(df)

Empty DataFrame
Columns: []
Index: []
          0
0  learning
1      data
2   science
3        is
4      easy

## Creating DataFrame from dict of ndarray/lists:

To create DataFrame from dict of narray/list, all the narray must be of same length. If index is passed then the length index should be equal to the length of arrays. If no index is passed, then by default, index will be range(n) where n is the array length.

In [ ]:
# Python code demonstrate creating
# DataFrame from dict narray / lists
# By default addresses.

import pandas as pd

# initialise data of lists.
data = {'Name':['Tom', 'nick', 'krish', 'jack'], 'Age':[20, 21, 19, 18]}

# Create DataFrame
df = pd.DataFrame(data)

# Print the output.
print(df)

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

## Create pandas dataframe from lists using dictionary:

Creating pandas data-frame from lists using dictionary can be achieved in different ways. We can create pandas dataframe from lists using dictionary using pandas.DataFrame. With this method in Pandas we can transform a dictionary of list to a dataframe.

In [ ]:
# Python code demonstrate creating
# DataFrame from dict narray / lists
# By default addresses.

import pandas as pd

# initialise data of lists.
data = {'Name':['Tom', 'nick', 'krish', 'jack'], 'Age':[20, 21, 19, 18]}

# Create DataFrame
df = pd.DataFrame(data)

# Print the output.
print(df)

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

## Create pandas dataframe from lists using dictionary:

Creating pandas data-frame from lists using dictionary can be achieved in different ways. We can create pandas dataframe from lists using dictionary using pandas.DataFrame. With this method in Pandas we can transform a dictionary of list to a dataframe.

In [ ]:
# importing pandas as pd
import pandas as pd

# dictionary of lists
dict = {'name':["aparna", "pankaj", "sudhir", "Geeku"],
		'degree': ["MBA", "BCA", "M.Tech", "MBA"],
		'score':[90, 40, 80, 98]}

df = pd.DataFrame(dict)

print(df)

     name  degree  score
0  aparna     MBA     90
1  pankaj     BCA     40
2  sudhir  M.Tech     80
3   Geeku     MBA     98

# Read CSV File
Click on three horizontal lines of left side of colab
notebook.

Click on "Mount drive" symbol.

You will see the drive folder. Click on drive folder.

Click on MyDrive folder.

Find the csv file saved on your drive.

Click on three verticle dots on right side of the .csv file.

copy path of the nba.csv file

provide that path into code to access the file

In [3]:
# importing pandas module
import pandas as pd

# making data frame
data = pd.read_csv("/content/drive/MyDrive/nbanew.csv/nba.csv")

# calling head() method
data.head()

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0