<a href="https://colab.research.google.com/github/V-Nayak/python-basics/blob/main/14_Pandas_Manupulating_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

## Adding new column to existing DataFrame in Pandas
Method #1: By declaring a new list as a column.

In [1]:
# Import pandas package
import pandas as pd

# Define a dictionary containing Students data
data = {'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
		'Height': [5.1, 6.2, 5.1, 5.2],
		'Qualification': ['Msc', 'MA', 'Msc', 'Msc']}

# Convert the dictionary into DataFrame
df = pd.DataFrame(data)
print(df)
print("*********************************************")
# Declare a list that is to be converted into a column
address = ['Delhi', 'Bangalore', 'Chennai', 'Patna']

# Using 'Address' as the column name
# and equating it to the list
df['Address'] = address

# Observe the result
df

colorcode =['black','green','blue','red']
df['colorcode'] = colorcode
df

     Name  Height Qualification
0     Jai     5.1           Msc
1  Princi     6.2            MA
2  Gaurav     5.1           Msc
3    Anuj     5.2           Msc
*********************************************

     Name  Height Qualification    Address colorcode
0     Jai     5.1           Msc      Delhi     black
1  Princi     6.2            MA  Bangalore     green
2  Gaurav     5.1           Msc    Chennai      blue
3    Anuj     5.2           Msc      Patna       red