<a href="https://colab.research.google.com/github/V-Nayak/python-basics/blob/main/17_Python_Basics_Pandas_DateTime.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Working with date and time using Pandas

In [4]:
# Code #1: Create a dates dataframe 

import pandas as pd

# Create dates dataframe with frequency
data = pd.date_range('1/1/2011', periods = 5, freq ='H')

data

DatetimeIndex(['2011-01-01 00:00:00', '2011-01-01 01:00:00',
               '2011-01-01 02:00:00', '2011-01-01 03:00:00',
               '2011-01-01 04:00:00'],
              dtype='datetime64[ns]', freq='H')

In [16]:
#  if we put more than avaiable periods it simply goes beyond given date ands next one to fullfill the demand.

import pandas as pd

# Create dates dataframe with frequency
data = pd.date_range('16/5/2022', periods = 30, freq ='H')

data

DatetimeIndex(['2022-05-16 00:00:00', '2022-05-16 01:00:00',
               '2022-05-16 02:00:00', '2022-05-16 03:00:00',
               '2022-05-16 04:00:00', '2022-05-16 05:00:00',
               '2022-05-16 06:00:00', '2022-05-16 07:00:00',
               '2022-05-16 08:00:00', '2022-05-16 09:00:00',
               '2022-05-16 10:00:00', '2022-05-16 11:00:00',
               '2022-05-16 12:00:00', '2022-05-16 13:00:00',
               '2022-05-16 14:00:00', '2022-05-16 15:00:00',
               '2022-05-16 16:00:00', '2022-05-16 17:00:00',
               '2022-05-16 18:00:00', '2022-05-16 19:00:00',
               '2022-05-16 20:00:00', '2022-05-16 21:00:00',
               '2022-05-16 22:00:00', '2022-05-16 23:00:00',
               '2022-05-17 00:00:00', '2022-05-17 01:00:00',
               '2022-05-17 02:00:00', '2022-05-17 03:00:00',
               '2022-05-17 04:00:00', '2022-05-17 05:00:00'],
              dtype='datetime64[ns]', freq='H')

### Datetime features can be divided into two categories.
 The first one time moments in a period and
 
  second the time passed since a particular period. 
  
  These features can be very useful to understand the patterns in the data.

Divide a given date into features â€“

pandas.Series.dt.year returns the year of the date time.

pandas.Series.dt.month returns the month of the date time.

pandas.Series.dt.day returns the day of the date time.

pandas.Series.dt.hour returns the hour of the date time.

pandas.Series.dt.minute returns the minute of the date time.

In [13]:
# Create date and time with dataframe
import pandas as pd
rng=pd.DataFrame()
rng['Date']=pd.date_range("01/01/2021",periods=72, freq='H')
print(rng[:4])

                 Date
0 2021-01-01 00:00:00
1 2021-01-01 01:00:00
2 2021-01-01 02:00:00
3 2021-01-01 03:00:00

In [23]:
# Create date and time with dataframe
import pandas as pd
rng=pd.DataFrame()
rng['date']=pd.date_range("01/01/2021",periods=72, freq='H')
print(rng[:4])

# Create features for year, month, day, hour, and minute

##rng['year'] = rng['date'].dt.year
rng['year'] = rng['date'].dt.year
rng['month'] = rng['date'].dt.month
rng['day'] = rng['date'].dt.day
rng['hour'] = rng['date'].dt.hour
rng['minute'] = rng['date'].dt.minute

rng.head(3)

                 date
0 2021-01-01 00:00:00
1 2021-01-01 01:00:00
2 2021-01-01 02:00:00
3 2021-01-01 03:00:00

                 date  year  month  day  hour  minute
0 2021-01-01 00:00:00  2021      1    1     0       0
1 2021-01-01 01:00:00  2021      1    1     1       0
2 2021-01-01 02:00:00  2021      1    1     2       0

In [26]:
"""Code #4: To get the present time"""
from datetime import date

today = date.today()
print("Today's date:", today)

Today's date: 2022-05-16

In [5]:
from datetime import date

##today=date.today()
##print("Today's date:", today)

print("Today's date:", date.today())

Today's date: 2022-05-17

In [16]:
from datetime import date

today=date.today()

#dd/mm/yy
d1=today.strftime("%d/%m/%y")
print("D1=",d1)

d2=today.strftime("%m/%d/%y") ## ==today.strftime("%D")
print("\nD2=",d2)

### Textual month, day and year	
d3=today.strftime("%B/%d/%Y")
print("\nD3=",d3)

# Month abbreviation, day and year
d4=today.strftime("%b-%d-%y")
print("\nD4=", d4)

## small y denotes only last two places but capital denotes whole year.i.e.2022

D1= 17/05/22

D2= 05/17/22

D3= May/17/2022

D4= May-17-22

# Timedelta
So far, we have seen how to create a DateTime object and how to format it. But sometimes, you might have to ***find the duration between two dates ***, which can be another very useful feature that you can derive from a dataset. This duration is, however, returned as a timedelta object.

In [29]:
from datetime import datetime,time

d1 = datetime(2020,5,17,12,10,10)
d2 = datetime(2021,5,17,12,10,10)
duration=d2-d1
print(d1)
print(d2)
print(type(duration))
print(duration)

2020-05-17 12:10:10
2021-05-17 12:10:10
<class 'datetime.timedelta'>
365 days, 0:00:00

# Datetime and Pandas Dataframe

In [1]:
import pandas as pd

url = 'http://bit.ly/uforeports'

# read csv file
df = pd.read_csv(url)		
df.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18241 entries, 0 to 18240
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   City             18216 non-null  object
 1   Colors Reported  2882 non-null   object
 2   Shape Reported   15597 non-null  object
 3   State            18241 non-null  object
 4   Time             18241 non-null  object
dtypes: object(5)
memory usage: 712.7+ KB

In [3]:
# Convert the Time column to datetime format
df['Time'] = pd.to_datetime(df.Time)

df.head()

,City,Colors Reported,Shape Reported,State,Time
0,Ithaca,NaN,TRIANGLE,NY,1930-06-01 22:00:00
1,Willingboro,NaN,OTHER,NJ,1930-06-30 20:00:00
2,Holyoke,NaN,OVAL,CO,1931-02-15 14:00:00
3,Abilene,NaN,DISK,KS,1931-06-01 13:00:00
4,New York Worlds Fair,NaN,LIGHT,NY,1933-04-18 19:00:00