<a href="https://colab.research.google.com/github/V-Nayak/python-basics/blob/main/Flowcontrol_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

COnditional/Transfer/iterative statements..!!

1.** Conditional Statements**
1) if
If condition is true then statements will be executed.

Eg:

if condition : statement

OR

if condition :

statement-1

statement-2

statement-3

In [5]:
name=input("EnterName:")
if name=="Students":
  print("Hello students Good Morning")
  print("Howareyou!!!")

EnterName:Students
Hello students Good Morning
Howareyou!!!

else part is always optional. Hence the following are various possible syntaxes.

1) if

2) if - else

3) if - elif - else

4) if - elif

In [6]:
# Write a Program to find Biggest of given 2 Numbers from the Commad Prompt?
n1=int(input("Enter First Number:"))
n2=int(input("Enter Second Number:"))
if n1>n2:
  print("Biggest Number is:",n1)
else:
  print("Biggest Number is:",n2)

Enter First Number:50
Enter Second Number:70
Biggest Number is: 70

Homework:
1) Write a Program to find Biggest of given 3 Numbers from the Commad Prompt?

2) Write a program to find smallest of given 2 numbers?

3) Write a program to find smallest of given 3 numbers?

4) Write a program to check whether the given number is even or odd?

In [23]:
# Program to find Biggest of given 3 Numbers from the Commad Prompt?
n1=int(input("Enter First Number:"))
n2=int(input("Enter Second Number:"))
n3=int(input("Enter Second Number:"))
if n1>n2:
   if n2>n3:
     print("Biggest Number is:",n1)
   else:
      print("Biggest Number is:",n2)
else:
      print("Biggest Number is:",n3)

Enter First Number:70
Enter Second Number:60
Enter Second Number:50
Biggest Number is: 70

In [9]:
# Program to find smallest of given 2 Numbers from the Commad Prompt?
n1=int(input("Enter First Number:"))
n2=int(input("Enter Second Number:"))
if n1<n2:
  print("Smallest Number is:",n1)
else:
  print("Smallest Number is:",n2)

Enter First Number:5
Enter Second Number:7
Smallest Number is: 5

In [11]:
# Program to find smallest of given 2 Numbers(float n int) from the Commad Prompt?
n1=float(input("Enter First Number:"))
n2=int(input("Enter Second Number:"))
if n1<n2:
  print("Smallest Number is:",n1)
else:
  print("Smallest Number is:",n2)

Enter First Number:4.5
Enter Second Number:6
Smallest Number is: 4.5

In [15]:
# Program to find smallest of given 2 Numbers from the Commad Prompt?
n1=int(input("Enter First Number:"))
n2=int(input("Enter Second Number:"))
n3=int(input("Enter Third Number:"))
if n1>n2:
  if n2>n3:
   print("Smallest Number is:",n3)
  else:
   print("Smallest Number is:",n2)
else:
   print("Smallest Number is:",n1)

Enter First Number:7
Enter Second Number:8
Enter Third Number:9
Smallest Number is: 7

**2) Iterative Statements:**

If we want to execute a group of statements multiple times then we should go for Iterative statements.

Python supports 2 types of iterative statements.

for loop

while loop

÷ç for loop:

If we want to execute some action for every element present in some sequence (it may be string or collection) then we should go for for loop.

Syntax:

for x in sequence:

Body

Where sequence can be string or any collection.

Body will be executed for every element present in the sequence

In [24]:
# To print characters present in the given string
s="DC_Macarthy_Squadron"
for x in s:
  print(x)

D
C
_
M
a
c
a
r
t
h
y
_
S
q
u
a
d
r
o
n

In [25]:
# To print Welcome 10 times
for x in range(10):
   print("Welcome")

Welcome
Welcome
Welcome
Welcome
Welcome
Welcome
Welcome
Welcome
Welcome
Welcome

In [26]:
# To display odd numbers from 0 to 15
for x in range(16):
  if (x%2!=0):
    print(x)

1
3
5
7
9
11
13
15

In [27]:
# To display Even numbers from 0 to 15
for x in range(16):
  if (x%2==0):
    print(x)

0
2
4
6
8
10
12
14

In [28]:
# To display numbers from 10 to 1 in descending order
for x in range(10,0,-1):
 print(x)

10
9
8
7
6
5
4
3
2
1

In [29]:
# To display even numbers from 10 to 1 in descending order
for x in range(10,0,-1):
  if (x%2==0):
    print(x)

10
8
6
4
2

In [32]:
# To print sum of numbers presenst inside list
list=eval(input("EnterList:"))
sum=0;
for x in list:
 sum=sum+x;
print("The Sum=",sum)

EnterList:10,20,30
The Sum= 60

In [33]:
# To print sum of numbers presenst inside list
list=eval(input("EnterList:"))
sum=0;
for x in list:
 sum=sum+x;
print("The Sum=",sum)

EnterList:10.5,10.5
The Sum= 21.0

**2) While Loop**

If we want to execute a group of statements iteratively until some condition become false,then we should go for while loop.

In [34]:
# To print numbers from 1 to 10 by using while loop

x=1
while x<=10:
 print(x)
 x=x+1

1
2
3
4
5
6
7
8
9
10

In [35]:
# To display the sum of first n numbers

n=int(input("Enternumber:"))
sum=0
i=1
while i<=n:
  sum=sum+i
  i=i+1
print("The sum of first",n,"numbers is:",sum)

Enternumber:5
The sum of first 5 numbers is: 15

In [ ]:
Infinte loop

In [ ]:
i=0;
while True:
  i=i+1;
  print("Hello",i)

Nested Loop

In [36]:
# we can take a loop inside another loop,which are also known as nested loops.
for i in range(3):
  for j in range(3):
    print("i=",i," j=",j)

i= 0  j= 0
i= 0  j= 1
i= 0  j= 2
i= 1  j= 0
i= 1  j= 1
i= 1  j= 2
i= 2  j= 0
i= 2  j= 1
i= 2  j= 2

**3) Transfer Statements`**

1) break:
We can use break statement inside loops to break loop execution based on some condition.

In [37]:
for i in range(10):
 if i==7:
   print("processing is enough..plz break")
   break
 print(i)

0
1
2
3
4
5
6
processing is enough..plz break

In [39]:
cart=[10,20,30,600,60,70]
for item in cart:
  if item>500:
    print("To place this order insurence must be required")
    break
  print(item)

10
20
30
To place this order insurence must be required

**2) continue**

We can use continue statement to skip current iteration and continue next iteration.

In [40]:
# Eg 1: To print odd numbers in the range 0 to 9
for i in range(10):
  if i%2==0:
    continue
  print(i)

1
3
5
7
9

In [42]:
cart=[10,20,150,700,50,60]
for item in cart:
  if item>=100:
    print("We cannot process this item :",item)
    continue
  print(item)

10
20
We cannot process this item : 150
We cannot process this item : 700
50
60

In [43]:
numbers=[10,20,0,5,0,30]
for n in numbers:
  if n==0:
    print("Hey how we can divide with zero..just skipping")
    continue
  print("100/{} = {}".format(n,100/n))

100/10 = 10.0
100/20 = 5.0
Hey how we can divide with zero..just skipping
100/5 = 20.0
Hey how we can divide with zero..just skipping
100/30 = 3.3333333333333335

Loops With else block
Inside loop execution, if break statement not executed, then only else part will be executed.

"else" means loop without break

In [45]:
cart=[10,20,30,40,500]
for item in cart:
  if item>=500:
     print("We cannot process this order")
     break
  print(item)
else:
  print("Congrats ...all items processed successfully")

10
20
30
40
We cannot process this order

In [46]:
cart=[10,20,30,40,50]
for item in cart:
  if item>=500:
     print("We cannot process this order")
     break
  print(item)
else:
  print("Congrats ...all items processed successfully")

10
20
30
40
50
Congrats ...all items processed successfully

In [47]:
for i in range(100):
  if i%20==0:
    print(i)
  else:
    pass

0
20
40
60
80

Rightangled Star triangle:

In [52]:
x=int(input("Enter number of rows : "))  #left side

for i in range(0,x):
  for j in range(0,i+1):
    print("*" ,end='') 
  print()

Enter number of rows : 10
*
**
***
****
*****
******
*******
********
*********
**********

In [54]:
x=int(input("Enter number of rows : ")) #Right side

for i in range(0,x):
  for j in range(0,i+1):
    print("*" ,end='')

Enter number of rows : 8
************************************