<a href="https://colab.research.google.com/github/V-Nayak/python-basics/blob/main/Pythonpractice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

fruits = ['apple','banana','orange','grapes']
fruits= sorted(fruits)
print(','.join(fruits))

if'Tomato'in fruits:
    print("banana is present in fruits")
else:
  print("Tomato is not present in fruits")

apple,banana,grapes,orange
Tomato is not present in fruits

In [ ]:
if 5 == 10 or 4 == 4:
    print("At least one of the statement is true")

At least one of the statement is true

In [ ]:
a= input("Enter the value for a: ")
b= input("Enter the value for b: ")
c= input("Enter the value for c:  ")

if (a>=b) and (a>=c):
    print("a is the largest")
elif(b>=a) and (b>=c):
    print("b is the largest")
else:
  print("c is the largest")

Enter the value for a: 35
Enter the value for b: 45
Enter the value for c: 35
b is the largest

In [ ]:
#Tuple
t=(1,2,3,3)
print(type(t))
print("3 is printed",t.count(3),"times starting from index location", t.index(3) )
#print(t.index(3))

<class 'tuple'>
3 is printed 2 times starting from index location 2

In [ ]:
#set- unordered collection of unique elements
myset=set()
myset.add(1)
myset.add(2)
myset.add(2)# this value will not be added
mylist = [1,2,2,3,4,4,1,1,2,2,3,3] # here as well iot6 will not accept the rpetation
set(mylist) # so it take the

{1, 2, 3, 4}

In [ ]:
mystring = ("Mississippi")
set(mystring)

{'M', 'i', 'p', 's'}

In [ ]:
import tkinter
from tkinter import PhotoImage

root=tkinter.Tk()
root.geometry("300x400")
root.title("My Weather App")

image_path=r"C:\Users\Vinayak\.vscode\weatherimage.png"
bg_image=PhotoImage(file=image_path)
set_bg_image=tkinter.Label(root,image=bg_image)
set_bg_image.place(relhight=1,relwidth=1)
root.mainloop()

TclError: no display name and no $DISPLAY environment variable

In [ ]:
import keyword
keyword.kwlist  ##around 35

In [ ]:
abd = 'vinayak patil'
# removing spaces from string and then seperating the characters(converting them into set) and then sorting them in aplhabetical manner

In [ ]:
import re

print(sorted(set(abd)))
New_abd = re.sub(r'\s', "", abd)

print(sorted(set(New_abd)))

[' ', 'a', 'i', 'k', 'l', 'n', 'p', 't', 'v', 'y']
['a', 'i', 'k', 'l', 'n', 'p', 't', 'v', 'y']

In [ ]:
a = sorted(set(New_abd))

for i in a:
  print(i)

a
i
k
l
n
p
t
v
y

In [ ]:
for i in range(200):
  if 190 < i >=185:
    print(i)

191
192
193
194
195
196
197
198
199

In [ ]:
import math  #finiding the squred no in the range of 0 to 100

from math import ceil,floor,trunc

print(ceil(10.55))

print(ceil(10.45))

for i in range(100):

  a = math.sqrt(i)

  if type(a)== int:
   print(i)

11
11

In [ ]:
from math import ceil, floor,trunc

print(ceil(10.55))

print(ceil(10.45))

print(floor(10.55))

print(floor(10.45))

print(floor(-10.55))

11
11
10
10
-11

In [ ]:

print(trunc(10.45))
print(trunc(-10.45))

10
-10

In [ ]:
 a = [10,20,30,100,255]
 b = bytes(a)           # byte or byte array support values from 0 to 255 only
 c = bytearray(a)

 c[0] = 100     #bytearray(c) supports the item assignemt not byte(b)
 for i in c:
  print(i)

100
20
30
100
255

In [ ]:
n1=int(input("Enter no 1:"))
n2=int(input("Enter no 2:"))
n3=int(input("Enter no 3:"))
if (n1>n2) and (n1>n2):
  print("Laregst no is:", n1)
elif (n2>n1) and (n2>n3):
  print("Largest no is:", n2)
else :
  print("largest no is:", n3)

Enter no 1:60
Enter no 2:70
Enter no 3:80
largest no is: 80